.vscode
lab1/homework/__pycache__/
lab2/ex1/.idea
lab2/ex1/lab2.iml
lab2/ex1/target
lab2/src
lab2/.idea
lab2/homework/node_modules
lab2/homework/package-lock.json
lab2/homework/.env
lab3/.idea
lab3/out
lab3/lab3.iml
lab4/reactive-streams/.idea
lab4/reactive-streams/.gradle
lab4/reactive-streams/gradle*
lab4/reactive-streams/.gitattributes
lab4/reactive-streams/settings.gradle.kts
lab4/reactive-streams/app/build.gradle.kts
lab4/reactive-streams/app/build
lab5/Ice/.idea
lab5/Ice/.settings
lab5/Ice/Ice.iml
lab5/Ice/out
lab5/Ice/lib
lab5/Ice/generated
lab5/gRPC/.idea
lab5/gRPC/.settings
lab5/gRPC/gRPC.iml
lab5/gRPC/out
lab5/gRPC/lib
lab5/gRPC/gen
lab5/gRPC/*.ser
lab5/gRPC/*.exe
lab5/Thrift/.idea
lab5/Thrift/.settings
lab5/Thrift/Thrift.iml
lab5/Thrift/out
lab5/Thrift/lib
lab5/Thrift/gen-java
lab5/SmartHome/server/.idea
lab5/SmartHome/server/.settings
lab5/SmartHome/server/generated
lab5/SmartHome/server/lib
lab5/SmartHome/server/out
lab5/SmartHome/server/server.iml
lab5/SmartHome/client/.idea
lab5/SmartHome/client/devices_ice.py
lab5/SmartHome/client/slice
lab5/SmartHome/client/handlers/*/__init__.py
lab5/SmartHome/client/handlers/__init__.py
lab5/ReverseProxy/config.py
lab5/ReverseProxy/helloworld_pb2.py
lab5/ReverseProxy/helloworld_pb2_grpc.py
lab5/ReverseProxy/weather_pb2.py
lab5/ReverseProxy/weather_pb2_grpc.py
lab5/ReverseProxy/nginx-1.22.0/contrib
lab5/ReverseProxy/nginx-1.22.0/docs
lab5/ReverseProxy/nginx-1.22.0/html
lab5/ReverseProxy/nginx-1.22.0/logs
lab5/ReverseProxy/nginx-1.22.0/temp
lab5/ReverseProxy/nginx-1.22.0/nginx.exe
lab5/ReverseProxy/.idea